/*variables*/
@main-font: "Source Sans Pro", "Trebuchet MS", "Helvetica", "sans-serif";
@button-font: "Montserrat", "Verdana", "Geneva", "sans-serif";
@fresh-dark-gray: #333;
@para-text-color: #4b4d4b;
@background-gray: #ffffffe1;
@fresh-white: white;
@fresh-green: #659a41;
@box-shadow-before: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
@box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.5);
@input-field-background: #f1f1f1;

/*mixin function for creating buttons*/
.create-button(@width) {
  border: none;
  width: @width;
  opacity: 0.9;
  height: 40px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  background-color: @fresh-green;
  box-shadow: none;
  border-color: @fresh-green;
  color: @fresh-white;
  font-family: @button-font;
  letter-spacing: 2.3px;
  line-height: 40px;
}

body {
  background-color: @background-gray;
  font-family: @main-font;
  margin: 0;
}

html {
  line-height: 1.15;
}

/*Top Navbar*/
.header {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: @fresh-dark-gray;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 3.5;
  padding: 0px 112px;
  outline: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2.2px;
  height: 100%;
  text-transform: uppercase;

  > li {
    float: left;

    &.logo {
      padding: 0 10px 0 0;
    }

    &:hover {
      background-color: @fresh-green;
    }

    &.logo:hover {
      background-color: transparent;
    }

    > a {
      display: block;
      color: @fresh-white;
      text-align: center;
      padding: 3px 16px;
      text-decoration: none;
    }

    & a:hover:active {
      background-color: @fresh-green;
    }

    &.login-btn-li {
      float: right;
      &:hover {
        background-color: transparent;
      }
    }

    &.right {
      float: right;
    }

    &.right:hover {
      background-color: transparent;
    }
  }

  & button.right {
    .create-button(100%);
    padding: 0 20px;
    & a {
      text-decoration: none;
      color: @fresh-white;
    }

    & a:active {
      color: inherit;
    }
  }
}

.hellofresh-logo {
  height: 30px;
  vertical-align: middle;
}

/*Recipe card and details*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 1% 7%;
}

.card {
  border: 0.02px solid #d7cece91;
  font-size: 15px;
  height: 100%;
  background: @fresh-white;
  box-shadow: @box-shadow-before;
  display: grid;
  grid-template-columns: 33% auto;
  color: @fresh-dark-gray;
  letter-spacing: 0.5px;
  &:hover {
    box-shadow: @box-shadow;
  }

  > div.card-details {
    margin: 0 15px 0 15px;

    > hr {
      margin: 5px 0 0 0;
    }

    > p {
      font-size: 12px;
      color: @para-text-color;

      > strong {
        text-transform: uppercase;
      }
    }

    > i {
      font-size: 20px;
      float: right;
      margin: 12px 12px 12px 0;
      cursor: pointer;

      > span {
        margin-left: 5px;
      }
    }
    > h3 {
      line-height: 1.1;
    }
    > h5 {
      margin: 0;
    }
  }

  > img {
    width: 100% !important;
    padding: 20px 0 0 5px;
    height: auto;
  }
}

/*Login page styles*/
.login-container-div {
  text-align: center;
  padding: 0 15%;

  > form.login-form {
    border: 0.02px solid #d7cece91;
    box-shadow: @box-shadow-before;
    display: inline-block;
    margin: 10%;
    text-align: left;
    height: auto;

    &:hover {
      box-shadow: @box-shadow;
    }

    > div {
      padding: 20px;
      background-color: @fresh-white;
      text-align: left;
    }
  }
}

hr {
  border: 1px solid @input-field-background;
  margin-bottom: 25px;
}

/* Input fields */
input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: @input-field-background;

  &:focus {
    background-color: #ddd;
    outline: none;
  }
}

.registerbtn {
  .create-button(100%);

  &:hover {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: @fresh-white;
  border: 1px solid #ccc;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  opacity: 1;
  visibility: visible;
  text-align: center;
  @media (prefers-reduced-motion) {
    offset-path: none;
  }
  .modal-content {
    padding: 0 0 20px 0;
  }
  .modal-actions {
    border-top: 1px solid #ccc;
    background: @input-field-background;
    button {
      .create-button(100px);
    }
    .toggle-button {
      margin: 10px;
    }
  }
}

.stars {
  counter-reset: rateme 0;
  font-size: 25px;
  font-weight: 900;

  &::after {
    content: counter(rateme) "/5";
  }
}

.star {
  padding: 0 5px;

  &::before {
    content: "\2606"; /* star outline */
    cursor: pointer;
  }
}

.star.rated {
  counter-increment: rateme 1;
  font-size: 30px;

  &::before {
    /* the style for a selected star */
    content: "\2605"; /* filled star */
  }
}

/* Extra large devices (large laptops and desktops) */
@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 90%;
  }
}

/* For tablets: */
@media screen and (max-width: 600px) {
  .header > li,
  .header > li.login-btn-li {
    float: none;
    padding: 0;
  }

  .card > div.card-details > i {
    font-size: 15px;
    margin: 12px 0 12px 5px;
  }
}

/* Extra small devices */
@media screen and (max-width: 500px) {
  .header > li,
  .header > li.login-btn-li {
    float: center;
  }
  .modal {
    width: 80%;
  }
}
