body {
  background-color: white;
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
}

html {
  line-height: 1.15;
}

.main-section {
  display: block;
}

.nav-section {
  box-sizing: border-box;
}

.nav-header {
  width: 100%;
  top: 0px;
  position: relative;
  z-index: 101;
  background: #eeeeee;
}

* {
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #91c11e;
}

.logo {
  margin: 0 0 0 0.45em;
}
.logo a {
  color: rgb(28, 24, 22);
}

.logo,
.navigation {
  list-style: none;
  text-transform: uppercase;
}

.logo a,
.navigation a {
  text-decoration: none;
  letter-spacing: 0.45rem;
}

.navigation {
  display: flex;
  margin: 0 100px;
}

.navigation a {
  display: inline-block;
  position: relative;
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
  padding: 0px 15px;
  outline: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.2px;
  height: 100%;
}

.navigation button {
  padding: 0px;
  width: 6em;
  height: 40px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  box-shadow: none;
  border-color: rgb(71, 107, 45);
  color: rgb(71, 107, 45);
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  letter-spacing: -0.3px;
  line-height: 40px;
}

.navigation button:active {
  box-shadow: rgb(71, 107, 45) 0px 0px 0px 1px;
  background-color: rgb(211, 230, 165);
  border-color: rgb(68, 110, 37) !important;
}

.navigation button:hover {
  box-shadow: none !important;
}

.navigation a:hover {
  background: #91c11e;
}

.fela-_ss6z9m {
  display: inline-block;
  position: relative;
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
  padding: 0px !important;
  outline: none;
  text-decoration: none;
  height: 0;
  margin-right: 15px;
  margin-left: 10px;
}

.fela-_18vovew {
  height: 30px;
  vertical-align: middle;
  display: inline-block;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  // .flex-container {
  //   flex-direction: column;
  // }

  // .logo {
  //   margin: 0;
  // }

  // .navigation {
  //   width: 100%;
  //   justify-content: space-around;
  // }
}

/* ****** ****** */
@media all and (max-width: 600px) {
  // .logo {
  //   margin: 0.25em 0;
  //   align-self: left; /* align the logo to the left side of 'flex-container' */
  // }

  // .navigation {
  //   flex-direction: column;
  //   padding: 0 100px;
  // }

  // .navigation a {
  //   text-align: center;
  //   padding: 10px;
  //   border-top: 1px solid rgba(255, 255, 255, 0.3);
  //   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  //   display: inline-block;
  //   position: relative;
  //   color: #343434;
  //   font-size: 16px;
  //   font-weight: 400;
  //   line-height: 60px;
  //   padding: 0px 15px;
  //   outline: none;
  //   text-align: center;
  //   text-decoration: none;
  //   cursor: pointer;
  //   letter-spacing: 0.2px;
  //   height: 100%;
  // }
  // .navigation li:last-of-type a {
  //   border-bottom: none;
  // }
}
