body {
  background-color: #ffffffe1;
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}

html {
  line-height: 1.15;
}

ul.header {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
  padding: 0px 15px;
  outline: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2.2px;
  height: 100%;
  text-transform: uppercase;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 3px 16px;
  text-decoration: none;
}

ul.header li a:hover:active {
  background-color: #4caf50;
}

ul.header li.logo {
  margin-right: 47px;
  margin-left: 70px;
}

ul.header li.logo:hover {
  background-color: transparent;
}

ul.header li:hover {
  background-color: #4caf50;
}

ul.header li.right {
  float: right;
}

ul.header li.right:hover {
  background-color: transparent;
}

ul.header li.right button {
  padding: 0px;
  width: 6em;
  height: 40px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  background-color: #4caf50;
  box-shadow: none;
  border-color: rgb(71, 107, 45);
  color: white;
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  letter-spacing: 2.3px;
  line-height: 40px;
}
.fela-_18vovew {
  height: 30px;
  vertical-align: middle;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left: 50px;
  // margin-right: 70px;
}

.grid-container > div.card {
  border: 0.02px solid #d7cece91;
  font-size: 15px;
  height: 256px;
  width: 90%;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.grid-container > div.card:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.grid-container > div > img {
  width: 300px !important;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  ul.header li.right,
  ul.header li {
    float: none;
  }
}
