body {
  background-color: #ffffffe1;
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}

html {
  line-height: 1.15;
}

ul.header {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
  padding: 0px 15px;
  outline: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2.2px;
  height: 100%;
  text-transform: uppercase;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 3px 16px;
  text-decoration: none;
}

ul.header li a:hover:active {
  background-color: #4caf50;
}

ul.header li.logo {
  margin-right: 47px;
  margin-left: 70px;
}

ul.header li.logo:hover {
  background-color: transparent;
}

ul.header li:hover {
  background-color: #4caf50;
}

ul.header li.right {
  float: right;
}

ul.header li.right:hover {
  background-color: transparent;
}

ul.header button.right {
  float: right;
  padding: 0px;
  width: 6em;
  height: 40px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  background-color: #4caf50;
  box-shadow: none;
  border-color: rgb(71, 107, 45);
  color: white;
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  letter-spacing: 2.3px;
  line-height: 40px;
}

ul.header button.right a {
  text-decoration: none;
  color: white;
}

ul.header button.right a:active {
  color: inherit;
}

.hellofresh-logo {
  height: 30px;
  vertical-align: middle;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 10px;
  margin-left: 50px;
}

.grid-container > div.card {
  border: 0.02px solid #d7cece91;
  font-size: 15px;
  height: 100%;
  width: 90%;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 32% auto;
}

.grid-container > div.card:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.grid-container > div > img {
  width: 90% !important;
  padding: 10px;
  height: 90%;
}

.grid-container > div.card > div.card-details > hr {
  margin-bottom: 0;
}

.grid-container > div.card > div.card-details > p {
  font-size: 0.8em;
  margin-right: 28px;
  color: rgb(75, 77, 75);
}
/* Add padding to containers */
.login-container-div {
  padding: 50px 0 0 68px;
}

.login-form {
  width: 556px;
  border: 0.02px solid #d7cece91;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 30%;
}

.login-form:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.login-container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 94%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  padding: 0px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  opacity: 0.9;
  height: 40px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  background-color: #4caf50;
  box-shadow: none;
  border-color: #476b2d;
  color: white;
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  letter-spacing: 2.3px;
  line-height: 40px;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.rate-button {
  padding: 0px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  opacity: 0.9;
  height: 40px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  background-color: #4caf50;
  box-shadow: none;
  border-color: #476b2d;
  color: white;
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  letter-spacing: 2.3px;
  line-height: 40px;
}

.star {
  color: goldenrod;
  font-size: 2rem;
  padding: 0 1rem; /* space out the stars */
}
.star::before {
  content: "\2606"; /* star outline */
  cursor: pointer;
}
.star.rated::before {
  /* the style for a selected star */
  content: "\2605"; /* filled star */
}

.stars {
  counter-reset: rateme 0;
  font-size: 2rem;
  font-weight: 900;
}
.star.rated {
  counter-increment: rateme 1;
}
.stars::after {
  content: counter(rateme) "/5";
}

.modal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  position: absolute;
  &.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
  }
  @supports (offset-rotate: 0deg) {
    // OLD
    // offset-rotation: 0deg;
    // NEW
    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
    &.off {
      offset-distance: 100%;
    }
  }
  @media (prefers-reduced-motion) {
    offset-path: none;
  }
  h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
  }
  .content {
    padding: 1rem;
  }
  .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
    button {
      border: 0;
      background: #78f89f;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      line-height: 1;
    }
  }
}

@media screen and (max-width: 600px) {
  ul.header li.right,
  ul.header li {
    float: none;
  }
}
